.modal {
    background: white;
    border-radius: 4px;
    padding: 20px;
    width: 500px;
    margin: auto;
    /* margin-Right: -50%; */
    top: 50%;
    left: 50%;
    overflow-y: auto;
    max-height: 80vh;
    border-radius: 10px;
    font-family: system-ui;
    font-size: small;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}